/*******************************************************************************
    Clock RESOURCE
    (c) 1995 P.Koller
*******************************************************************************/
#include <os2.h>
#include "clock.h"
ICON IDD_CLOCK CLOCK.ICO

rcinclude clock.dlg
